{% extends 'base_admin.html.twig' %}

{% block title %}Images - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
  {% embed 'admin/_page_header.html.twig' %}
  {% block page_header_title %}Images{% endblock %}
  {% block page_header_buttons %}
  <a href="{{ path('image_new') }}"><i class="fas fa-plus fa-fw"></i></a>
  {% endblock %}
  {% endembed %}

  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="imageTable">
          <thead>
            <tr>
                <th>ID</th>
                <th>Caption</th>
                <th>Credit</th>
                <th>Path</th>
                <th>Article</th>
                <th data-sortable="false" class="col-actions"></th>
            </tr>
          </thead>
          <tbody>
            {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.caption }}</td>
                <td>{{ image.credit }}</td>
                <td><tt>{{ image.path }}</tt></td>
                <td>
                  {% if image.article %}
                  <a href="{{ path('article_show', {id: image.article.id}) }}">{{ image.article }}</a>
                  {% endif %}
                </td>
                <td class="col-actions">
                    <a href="{{ path('image_show', {'id': image.id}) }}"><i class="fas fa-eye fa-fw"></i></a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
