{% extends 'admin/base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <div class="float-right">
        {{ knp_pagination_render(pagination) }}
    </div>
    <h1>Images</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Caption</th>
                <th>Credit</th>
                <th>Path</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for image in pagination %}
            <tr>
                <td><a href="{{ path('admin_image_show', {'id': image.id}) }}">{{ image.id }}</a></td>
                <td>{{ image.caption|markdown }}</td>
                <td>{{ image.credit }}</td>
                <td>{{ image.path }}</td>
                <td>
                    <a href="{{ path('admin_image_edit', {'id': image.id}) }}" class="btn btn-link"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">No records found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="float-right">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('admin_image_new') }}" class="btn btn-secondary"><i class="fas fa-plus"></i> Create Image</a>
{% endblock %}
