{% extends 'base_admin.html.twig' %}

{% block title %}Image: &quot;{{ image }}&quot; - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
  {% embed 'admin/_page_header.html.twig' %}
  {% block page_header_title %}{{ image }}{% endblock %}
  {% block page_header_buttons %}
  <a href="{{ path('image_index') }}"><i class="fas fa-list fa-fw"></i></a>
  <a href="{{ path('image_edit', {'id': image.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
  {% endblock %}
  {% endembed %}
  <div class="card mb-3">
    <div class="card-body">
      <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Caption</th>
                <td>{{ image.caption }}</td>
            </tr>
            <tr>
                <th>Credit</th>
                <td>{{ image.credit }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td><tt>{{ image.path }}</tt></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  {{ include('admin/image/_delete_form.html.twig') }}
</div>
{% endblock %}
