{% extends base_template %}

{% block title %}
    {{ "title_show"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{% block show %}
<div class="panel panel-default">
  <div class="panel-heading">Image</div>
  <div class="panel-body">
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <th>Caption</th>
                <td>{{ object.caption|markdown }}</td>
            </tr>
            <tr>
                <th>Credit</th>
                <td>{{ object.credit }}</td>
            </tr>
            <tr>
                <th>Preview</th>
                <td><img src="{{ path('s3_proxy', {id: object.id} ) }}"></td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ object.path }}</td>
            </tr>
            <tr>
                <th>Article</th>
                {% if object.article %}
                <td><a href="{{ path('admin_app_article_edit', {id: object.article.id} ) }}">{{ object.article }}</a></td>
                {% else %}
                <td class="text-muted">No paired article.</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
