<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Pacer - Login</title>
    <meta name="robots" content="noindex">
    {% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
    {% endblock %}

    {% include '_includes/favicons.html.twig' %}
    {% include '_includes/ga_tracking.html.twig' %}
  </head>

  <body class="text-center">
      
    <main class="form-signin">
      {% for label, flashes in app.flashes %}
          {% for flash in flashes %}
              {% if ( label == 'success' ) %}
                  <div class="alert alert-success alert-dismissible fade show">
                      {{ flash }}
                  </div>
              {% elseif ( label == 'error' ) %}
                  <div class="alert alert-danger alert-dismissible fade show">
                      {{ flash }}
                  </div>
              {% endif %}
          {% endfor %}
      {% endfor %}
      <form method="post">
        <a href="{{ path('home') }}"><img src="{{ asset('build/nameplate.svg') }}" class="img-fluid mb-4" style="max-height:40vh" /></a>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input name="email" type="email" class="form-control" value="{{ last_username }}" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" name="_remember_me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
      </form>
    </main>

    {% block javascripts %}
    {{ encore_entry_script_tags('login') }}
    {% endblock %}
  </body>
</html>
