{% extends 'base.html.twig' %}

{% block title %}{{ article.headline }} - {{ article.datePublished | date('F j, Y') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('archive') }}">Archives</a></li>
      {% if article.issue %}
      <li class="breadcrumb-item"><a href="{{ path('volume', {volumeNumber: article.issue.volume.volumeNumber} ) }}">Volume {{article.issue.volume.volumeNumber}}</a></li>
      <li class="breadcrumb-item"><a href="{{ path('issue', {issueDate: article.issue.issueDate|date('Y-m-d') }) }}">{{ article.issue.issueDate | date('F j, Y') }}</a></li>
      {% else %}
      <li class="breadcrumb-item">{{ article.datePublished | date('F j, Y') }}</li>
      {% endif %}
      <li class="breadcrumb-item" aria-current="page">{{ article.headline }}<li>
    </ol>
  </nav>

  <h2>{{ article.headline }}</h2>
  {% if article.alternativeHeadline %}
  <h3>{{ article.alternativeHeadline }}</h3>
  {% endif %}
  
  <ul class="list-inline">
    <li class="list-inline-item">{{ article.datePublished | date('F j, Y') }}</li>
    <li class="list-inline-item text-muted">|</li>
    {% if article.authorByline %}
    <li class="list-inline-item"><cite>{{ article.authorByline }}</cite></li>
    {% endif %}
    {% if article.contributorByline %}
    <li class="list-inline-item"><cite>{{ article.contributorByline }}</cite></li>
    {% endif %}
  </ul>

  <ul class="list-inline text-muted small">
    <li class="list-inline-item"><i class="far fa-newspaper"></i> <strong>Section:</strong> {{ article.printSection }}</li>
    {% if article.printPage %}
    <li class="list-inline-item"><strong>Page:</strong> {{ article.printPage }}</li>
    {% endif %}
    {% if article.printColumn %}
    <li class="list-inline-item"><strong>Column:</strong> {{ article.printColumn }}</li>
    {% endif %}
  </ul>

  <hr />

  <div class="row">
    <div class="col-lg-7 text-justify">
      {{ article.articleBody | markdown }}
    </div>

    {% if article.images.count > 0 %}
    <div class="col-lg-5">
      {% for image in article.images %}
      <div class="card mb-3">
        <img src="{{ path('s3_proxy', {id: image.id}) }}" class="card-img-top" alt="Article Image" />
        {% if image.credit %}
        <div class="card-body small text-end text-muted">
          <cite>{{ image.credit }}</cite>
        </div>
        {% endif %}
        {% if image.caption %}
        <div class="card-body small">
          {{ image.caption | markdown }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="edit-button">
  <a href="{{ path('article_edit', {id: article.id, return: 'public'}) }}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
</div>
{% endif %}

{% endblock %}
