{% extends 'base.html.twig' %}

{% block title %}Archives - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">

  <h2>Archives</h2>
  <p class="lead">The newspaper is published periodically throughout the academic year, which begins in August. Volumes numbers correspond to academic years and are counted from 1928 to the present day.</p>

  <h3>By Calendar Year</h3>
  <div class="row mb-5">
    <div class="col-12">
      {% for year in years %}
      <div class="float-left text-center mx-1 my-1">
        {% if issue_counts_by_year[year] > 0 %}
        <a href="{{ path('year', {year: year}) }}" data-toggle="tooltip" title="{{ pluralize(issue_counts_by_year[year], '1 issue', '%d issues', 'No issues available') }}" class="btn btn-light" style="width:125px">{{ year }}</a>
        {% else %}
        <a href="{{ path('year', {year: year}) }}" data-toggle="tooltip" title="{{ pluralize(issue_counts_by_year[year], '1 issue', '%d issues', 'No issues available') }}" class="btn btn-light" style="opacity:0.25; width:125px">{{ year }}</a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="float-right">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="viewOptions" id="tableView" autocomplete="off" data-target="tableViewContent" checked><i class="fas fa-th-list"></i>
      </label>
      <label class="btn btn-light">
        <input type="radio" name="viewOptions" id="gridView" autocomplete="off" data-target="gridViewContent"><i class="fas fa-th"></i>
      </label>
    </div>
  </div>
  <h3>By Academic Year</h3>

  <!-- Table View -->
  <div id="tableViewContent" class="collapse show">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col" class="d-none d-lg-table-cell">&nbsp;</th>
          <th scope="col">Volume Number</th>
          <th scope="col">Years</th>
          <th scope="col">Nameplate</th>
          <th class="text-center" scope="col">Issues</th>
        </tr>
      </thead>
      <tbody>
        {% for volume in volumes %}
        <tr class="{% if volume.issues.count == 0 %}text-muted{% endif %}">
          <td class="text-center align-middle d-none d-lg-table-cell">
            {% if volume.issues.count > 0 %}
            <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}"><img src="https://archive.org/services/img/{{ volume.coverIssue.archiveKey }}" alt="Cover" title="{{ volume.coverIssue.archiveKey }}" height="125" class=""></a>
            {% else %}
            &nbsp;
            {% endif %}
          </td>
          <td class="align-middle">
            <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}">Volume {{volume.volumeNumber}}</a>
          </td>
          <td class="align-middle">
            {{ volume.volumeStartDate | date('Y')}}-{{ volume.volumeEndDate | date('Y') }}
          </td>
          <td class="align-middle">
            {% if volume.nameplateKey == 'volette' %}<em>The Volette</em>{% endif %}
            {% if volume.nameplateKey == 'pacer' %}<em>The Pacer</em>{% endif %}
          </td>
          <td class="text-center align-middle">
            {% if volume.issues.count %}
            <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}">{{ pluralize(volume.issues.count, '<strong>1</strong> issue', '<strong>%d</strong> issues') | raw }}</a>
            {% else %}
            <span class="text-center text-muted">No issues available</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <!-- Grid View -->
  <div id="gridViewContent" class="collapse">
    <div class="row">
      {% for volume in volumes %}
      <div class="col-lg-4">
        <div class="card mb-2 {% if volume.issues.count == 0 %}text-muted{% endif %}">
          <div class="card-body" style="min-height:15rem;">
            <div class="row">
              {% if volume.issues.count > 0 %}
              <div class="col-5">
                <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}" class="d-block" style="min-height:100px;"><img src="https://archive.org/services/img/{{ volume.coverIssue.archiveKey }}" alt="{{ volume.coverIssue.archiveKey }}" class="img-fluid"></a>
              </div>
              {% endif %}
              <div class="col-7">
                <p class="small">
                  {% if volume.nameplateKey == 'volette' %}<em>The Volette</em>{% endif %}
                  {% if volume.nameplateKey == 'pacer' %}<em>The Pacer</em>{% endif %}
                </p>
                <h5 class="mt-2"><a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}">Volume {{volume.volumeNumber}} ({{ volume.volumeStartDate | date('Y')}}-{{ volume.volumeEndDate | date('Y') }})</a></h5>
                <p>{{ pluralize(volume.issues.count, '1 issue', '%d issues', 'No issues available') }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('archive') }}
{% endblock %}
