{% extends 'base.html.twig' %}

{% block title %}The Pacer{% endblock %}

{% block body %}

<div class="container">

  <!-- View Toggle -->
  <div class="text-right mb-5">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" name="viewOptions" id="tableView" autocomplete="off" data-target="tableViewContent" checked><i class="fas fa-th-list"></i>
      </label>
      <label class="btn btn-light">
        <input type="radio" name="viewOptions" id="gridView" autocomplete="off" data-target="gridViewContent"><i class="fas fa-th"></i>
      </label>
    </div>
  </div>

  <!-- Table View -->
  <div id="tableViewContent" class="collapse show">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" width="100"></th>
          <th scope="col">Volume Number</th>
          <th scope="col">Years</th>
          <th scope="col">Nameplate</th>
          <th scope="col">Issues</th>
        </tr>
      </thead>
      <tbody>
        {% for volume in volumes %}
        <tr>
          <td class="align-middle">
            <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}"><img src="https://archive.org/services/img/{{ volume.coverIssue.archiveKey }}" alt="{{ volume.coverIssue.archiveKey }}" class="img-fluid img-thumbnail"></a>
          </td>
          <td class="align-middle">
            <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}">Volume {{volume.volumeNumber}}</a>
          </td>
          <td class="align-middle">
            {{ volume.volumeStartDate | date('Y')}}-{{ volume.volumeEndDate | date('Y') }}
          </td>
          <td class="align-middle">
            {% if volume.nameplateKey == 'volette' %}<em>The Volette</em>{% endif %}
            {% if volume.nameplateKey == 'pacer' %}<em>The Pacer</em>{% endif %}
          </td>
          <td class="align-middle">
            {% if volume.issues.count %}
            <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}">{{ pluralize(volume.issues.count, '<strong>1</strong> issue', '<strong>%d</strong> issues') | raw }}</a>
            {% else %}
            <span class="text-muted">No issues</span>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <!-- Grid View -->
  <div id="gridViewContent" class="collapse">
    <div class="row">
      {% for volume in volumes %}
      <div class="col-lg-4">
        <div class="card mb-2">
          <div class="card-body" style="min-height:14rem;">
            <div class="row">
              <div class="col-5">
                <a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}" style="display:block;min-height:100px;"><img src="https://archive.org/services/img/{{ volume.coverIssue.archiveKey }}" alt="{{ volume.coverIssue.archiveKey }}" class="img-fluid"></a>
              </div>
              <div class="col-7">
                <p class="small">
                  {% if volume.nameplateKey == 'volette' %}<em>The Volette</em>{% endif %}
                  {% if volume.nameplateKey == 'pacer' %}<em>The Pacer</em>{% endif %}
                </p>
                <h5 class="mt-2"><a href="{{ path('volume', { volumeNumber: volume.volumeNumber } )}}">Volume {{volume.volumeNumber}} ({{ volume.volumeStartDate | date('Y')}}-{{ volume.volumeEndDate | date('Y') }})</a></h5>
                <p>{{ pluralize(volume.issues.count, '1 issue', '%d issues', 'No issues') }}.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function () {
  $('input[name="viewOptions"]').on('change', function(el) {
    var view = $(el.target).data('target')
    $('.collapse').collapse('hide')
    $('#' + view).collapse('toggle')
  })
})
</script>
{% endblock %}
