{% extends 'base.html.twig' %}

{% block title %}{{ issue.issueDate | date('F j, Y') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('archive') }}">Archives</a></li>
      <li class="breadcrumb-item"><a href="{{ path('volume', {volumeNumber: issue.volume.volumeNumber} ) }}">Volume {{issue.volume.volumeNumber}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ issue.issueDate | date('F j, Y') }}</li>
    </ol>
  </nav>

  <div class="float-right">
    <a href="https://archive.org/details/{{ issue.archiveKey }}" target="_blank" class="btn btn-link"><i class="fas fa-search-plus mr-1"></i>View on Archive.org</a>
  </div>
  <h2>{{ issue.issueDate | date('F j, Y') }}</h2>

  <div class="row mb-4">
    <div class="col-lg-4">
      {% if previousIssue %}
      <a href="{{ path('issue', {issueDate: previousIssue.issueDate|date('Y-m-d')} ) }}" class="btn btn-link"><i class="fas fa-backward"></i> {{ previousIssue.issueDate|date('F j, Y') }}</a>
      {% endif %}
    </div>
    <div class="col-lg-4 text-center">
      <a class="btn btn-disabled"><strong>{{ issue.issueDate|date('F j, Y') }}</strong></a>
    </div>
    <div class="col-lg-4 text-right">
      {% if nextIssue %}
      <a href="{{ path('issue', {issueDate: nextIssue.issueDate|date('Y-m-d')} ) }}" class="btn btn-link">{{ nextIssue.issueDate|date('F j, Y') }} <i class="fas fa-forward"></i></a>
      {% endif %}
    </div>
  </div>

  <div class="embed-responsive embed-responsive-16by9 mt-4 mb-4">
    <iframe class="embed-responsive-item" src="https://archive.org/embed/{{ issue.archiveKey }}" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
  </div>

  <h3>Other Issues in This Volume</h3>

  <div class="issue-browser mb-5">
    <div class="row text-center">
      {% for volumeIssue in issue.volume.issues %}
      <div class="col-1">
        <div class="p-1 {% if issue == volumeIssue %}bg-info{% endif %}">
          <a href="{{ path('issue', { issueDate: volumeIssue.issueDate.format('Y-m-d')} ) }}" data-toggle="tooltip" title="{{ volumeIssue.issueDate.format('F j, Y') }}"><img class="img-fluid" src="https://archive.org/services/img/{{ volumeIssue.archiveKey }}" alt="{{ volumeIssue.archiveKey }}"></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if issue.articles.count > 0 %}
  <h3>Articles</h3>
  <hr />
  <div class="row">
    {% for article in issue.articles %}
    <div class="col-lg-4">
      <div class="mb-3">
        <h5><a href="{{ path('article', { id: article.id, slug: article.slug } )}}">{{ article.headline }}</a></h5>
        <p class="text-muted">{{ article.printSection }} / {{ article.authorByline }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock %}
