{% extends 'base.html.twig' %}

{% block title %}The {{ issue.volume.nameplateKey|title }} - {{ issue.issueDate|date('F j, Y') }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('archive') }}">Archives</a></li>
      <li class="breadcrumb-item"><a href="{{ path('volume', {volumeNumber: issue.volume.volumeNumber} ) }}">Volume {{issue.volume.volumeNumber}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ issue.issueDate | date('F j, Y') }}</li>
    </ol>
  </nav>

  <div class="d-flex flex-wrap mb-3">
    <div class="mr-auto text-center text-md-left">
      <h2 class="mb-4 mb-1">{{ issue.issueDate | date('F j, Y') }}</h2>
    </div>
    <div class="text-center text-md-right">
      {% if issue.utmDigitalArchiveUrl %}
      <a href="{{ issue.utmDigitalArchiveUrl }}" target="_blank" class="btn btn-primary mb-1"><i class="fas fa-archive fa-fw mr-1"></i> UTM Digital Archive</a>
      {% endif %}
      <a href="https://archive.org/details/{{ issue.archiveKey }}" target="_blank" class="btn btn-primary mb-1"><i class="fas fa-search-plus fa-fw mr-1"></i> Read Issue on Archive.org</a>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4">
      {% if previousIssue %}
      <a href="{{ path('issue', {issueDate: previousIssue.issueDate|date('Y-m-d')} ) }}" class="btn btn-link"><i class="fas fa-backward"></i> {{ previousIssue.issueDate|date('F j, Y') }}</a>
      {% endif %}
    </div>
    <div class="col-4 text-center">
      <strong>
      {% if issue.volume.nameplateKey == 'volette' %}<em>The Volette</em>{% endif %}
      {% if issue.volume.nameplateKey == 'pacer' %}<em>The Pacer</em>{% endif %}
      -
      {{ issue.issueDate|date('F j, Y') }}
      </strong>
    </div>
    <div class="col-4 text-right">
      {% if nextIssue %}
      <a href="{{ path('issue', {issueDate: nextIssue.issueDate|date('Y-m-d')} ) }}" class="btn btn-link">{{ nextIssue.issueDate|date('F j, Y') }} <i class="fas fa-forward"></i></a>
      {% endif %}
    </div>
  </div>

  <div class="embed-responsive embed-responsive-1by1 mt-4 mb-4">
    <iframe class="embed-responsive-item" src="https://archive.org/embed/{{ issue.archiveKey }}" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe>
  </div>

  {% if issue.archiveNotes %}
  <h3 class="mb-2">Notes</h3>
  
  {{ issue.archiveNotes|markdown }}
  {% endif %}

  <h3 class="mb-2">Volume Issues</h3>

  <div class="row issue-browser mb-5">
    {% for volumeIssue in issue.volume.issues %}
    <div class="col-lg-2">
      {% include '_includes/issue-card.html.twig' with { issue: volumeIssue, active: issue } %}
    </div>
    {% endfor %}
  </div>

  {% if issue.articles.count > 0 %}
  <h3>Articles</h3>
  <hr />
  <div class="row">
    {% for article in articlesInPrint %}
    <div class="col-lg-4">
      <div class="mb-3">
        <h5><a href="{{ path('article', { id: article.id, slug: article.slug } )}}">{{ article.headline }}</a></h5>
        <ul class="list-unstyled">
          <li class="text-muted">{{ article.authorByline }}</li>
          <li class="text-muted"><i class="fas fa-newspaper fa-fw"></i> Page {{ article.printPage }}, {{ article.printSection }}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    {% for article in articlesOnlineOnly %}
    <div class="col-lg-4">
      <div class="mb-3">
        <h5><a href="{{ path('article', { id: article.id, slug: article.slug } )}}">{{ article.headline }}</a></h5>
        <ul class="list-unstyled">
          <li class="text-muted">{{ article.authorByline }}</li>
          <li class="text-muted"><i class="far fa-newspaper fa-fw"></i> {{ article.printSection }}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="edit-button">
  <a href="{{ path('issue_edit', {id: issue.id, return: 'public'}) }}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
</div>
{% endif %}

{% endblock %}
