{% extends 'base.html.twig' %}

{% block title %}Volume {{volume.volumeNumber}} ({{ volume.volumeStartDate|date('Y')}}-{{ volume.volumeEndDate|date('Y') }}) - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ path('archive') }}">Archives</a></li>
      <li class="breadcrumb-item active" aria-current="page">Volume {{volume.volumeNumber}}</li>
    </ol>
  </nav>

  <div class="d-flex flex-wrap mb-3">
    <div class="col text-center text-md-start">
      <h2 class="mb-4">Volume {{volume.volumeNumber}} ({{ volume.volumeStartDate|date('Y') }}-{{ volume.volumeEndDate|date('Y') }})</h2>
    </div>
    <div class="col text-center text-md-end">
      {% if volume.issues.count > 0 %}
      <a href="https://archive.org/details/thepacer?and[]=volume:{{volume.volumeNumber}}&sort=date" target="_blank" class="btn btn-primary mb-1"><i class="fas fa-newspaper fa-fw mr-1"></i> Browse Volume on Archive.org</a>
      {% endif %}
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4">
      {% if previousVolume %}
      <a href="{{ path('volume', {volumeNumber: previousVolume.volumeNumber} ) }}" class="btn btn-link"><i class="fas fa-backward"></i> Volume {{ previousVolume.volumeNumber }}</a>
      {% endif %}
    </div>
    <div class="col-4 text-center">
      <strong>
      {% if volume.nameplateKey == 'volette' %}<em>The Volette</em>{% endif %}
      {% if volume.nameplateKey == 'pacer' %}<em>The Pacer</em>{% endif %}
      - Volume {{ volume.volumeNumber }}</strong>
    </div>
    <div class="col-4 text-end">
      {% if nextVolume %}
      <a href="{{ path('volume', {volumeNumber: nextVolume.volumeNumber} ) }}" class="btn btn-link">Volume {{ nextVolume.volumeNumber }} <i class="fas fa-forward"></i></a>
      {% endif %}
    </div>
  </div>

  {% if volume.issues.count > 0 %}
  <div class="calendar-container mb-4">
    <div class="row">
      <div class="col-lg-3"><div class="text-center calendar calendar-august"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-september"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-october"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-november"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-december"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-january"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-february"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-march"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-april"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-may"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-june"></div></div>
      <div class="col-lg-3"><div class="text-center calendar calendar-july"></div></div>
    </div>
  </div>

  <div class="row">
    {% for issue in volume.issues %}
    <div class="col-lg-2">
      {% include '_includes/issue-card.html.twig' %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        {% include '_includes/no-issues-message.html.twig' with {unit: 'volume'} %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="edit-button">
  <a href="{{ path('volume_edit', {id: volume.id, return: 'public'}) }}" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt fa-fw"></i> Edit</a>
</div>
{% endif %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
  var volumeIssues = []
  {% for issue in volume.issues %}
  volumeIssues.push({
    date: '{{ issue.issueDate.format('Y-m-d') }}',
    title: 'Issue',
    url: '{{ path('issue', {issueDate: issue.issueDate.format('Y-m-d')}) }}'
  })
  {% endfor %}

  if (volumeIssues.length > 0) {
    var clndrTemplate =
      "<h5 class='my-3'><%= month %></h5>" +
      "<table class='table table-sm clndr-table'>" +
        "<thead>" +
            "<tr class='header-days'>" +
            "<% for(var i = 0; i < daysOfTheWeek.length; i++) { %>" +
                "<td class='header-day'><%= daysOfTheWeek[i] %></td>" +
            "<% } %>" +
            "</tr>" +
        "</thead>" +
        "<tbody>" +
        "<% for(var i = 0; i < numberOfRows; i++){ %>" +
            "<tr>" +
            "<% for(var j = 0; j < 7; j++){ %>" +
            "<% var d = j + i * 7; %>" +
                "<td class='<%= days[d].classes %>'>" +
                    "<% if (days[d].events.length > 0) { %>" +
                    "<div class='day-contents'><a href='<%= days[d].events[0].url %>'><%= days[d].day %></a></div>" +
                    "<% } else { %>" +
                    "<div class='day-contents'><%= days[d].day %></div>" +
                    "<% } %>" +
                "</td>" +
            "<% } %>" +
            "</tr>" +
        "<% } %>" +
        "</tbody>" +
    "</table>";

    var academicMonths = [7,8,9,10,11,0,1,2,3,4,5,6]
    $('.calendar').each(function (i, e) {
      var cal = $(e).clndr({
        template: clndrTemplate,
        events: volumeIssues,
        showAdjacentMonths: false
      });
      if (academicMonths[i]<7) {
        cal.setYear({{ volume.volumeEndDate.format('Y') }});
      } else {
        cal.setYear({{ volume.volumeStartDate.format('Y') }})
      }
      cal.setMonth(academicMonths[i]);
      if (cal.eventsThisInterval.length == 0) {
        $(cal.calendarContainer).css({opacity: 0.25})
      }
    })
  }
</script>
{% endblock %}
