{% extends 'base.html.twig' %}

{% block title %}Volume {{volume.volumeNumber}} ({{ volume.volumeStartDate | date('Y')}}-{{ volume.volumeEndDate | date('Y') }}){% endblock %}

{% block body %}
<div class="container">
  <div class="float-right">
    <a href="https://archive.org/details/thepacer?and[]=volume:{{volume.volumeNumber}}&sort=date" target="_blank" class="btn btn-link">Browse on Archive.org</a>
  </div>
  
  <h2 class="mb-4">Volume {{volume.volumeNumber}} ({{ volume.volumeStartDate | date('Y') }}-{{ volume.volumeEndDate | date('Y') }})</h2>

  <div class="row">
    {% for issue in volume.issues %}
    <div class="col-lg-2">
      <div class="card mb-2">
        <div class="card-img-top">
          <a href="{{ path('issue', { archiveKey: issue.archiveKey} ) }}"><img class="img-fluid" src="https://archive.org/services/img/{{ issue.archiveKey }}" alt="{{ issue.archiveKey }}"></a>
        </div>
        <div class="card-body small">
          <a href="{{ path('issue', { archiveKey: issue.archiveKey} ) }}">{{ issue.issueDate | date('F j, Y')}}</a><br />
          {{ pluralize(issue.pageCount, '1 page.', '%d pages', 'Unknown') }} <span class="divider">|</span> Issue: {{ issue.issueNumber }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
