{% extends 'base_admin.html.twig' %}

{% block title %}Edit {{ volume }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit {{ volume }}</h1>

    {{ include('admin/volume/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('volume_index') }}"><i class="fas fa-list fa-fw"></i></a>

    {{ include('admin/volume/_delete_form.html.twig') }}
</div>
{% endblock %}
