{% extends 'admin/base.html.twig' %}

{% block title %}Volume index{% endblock %}

{% block body %}
    <h1>Volumes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Volume #</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Nameplate Key</th>
                <th>Issues</th>
                <th width="10"></th>
            </tr>
        </thead>
        <tbody>
        {% for volume in volumes %}
            <tr>
                <td><a href="{{ path('admin_volume_show', {'id': volume.id}) }}">{{ volume.id }}</a></td>
                <td>{{ volume.volumeNumber }}</td>
                <td>{{ volume.volumeStartDate ? volume.volumeStartDate|date('Y-m-d') : '' }}</td>
                <td>{{ volume.volumeEndDate ? volume.volumeEndDate|date('Y-m-d') : '' }}</td>
                <td>{{ volume.nameplateKey }}</td>
                <td>{{ volume.issues.count }}</td>
                <td>
                    <a href="{{ path('admin_volume_edit', {'id': volume.id}) }}" class="btn btn-link"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99">No records found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_volume_new') }}" class="btn btn-secondary"><i class="fas fa-plus"></i> Create Volume</a>
{% endblock %}
