{% extends 'base_admin.html.twig' %}

{% block title %}Volumes - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Volumes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Number</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Nameplate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for volume in volumes %}
            <tr>
                <td>{{ volume.id }}</td>
                <td>{{ volume.volumeNumber }}</td>
                <td>{{ volume.volumeStartDate ? volume.volumeStartDate|date('n/j/Y') : '' }}</td>
                <td>{{ volume.volumeEndDate ? volume.volumeEndDate|date('n/j/Y') : '' }}</td>
                <td>{{ volume.nameplateKey }}</td>
                <td>
                    <a href="{{ path('volume_show', {'id': volume.id}) }}"><i class="fas fa-eye fa-fw"></i></a>
                    <a href="{{ path('volume_edit', {'id': volume.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('volume_new') }}"><i class="fas fa-plus fa-fw"></i></a>
</div>
{% endblock %}
