{% extends 'base_admin.html.twig' %}

{% block title %}{{ volume }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
  {% embed 'admin/_page_header.html.twig' %}
  {% block page_header_title %}{{ volume }}{% endblock %}
  {% block page_header_buttons %}
  <a href="{{ path('volume_index') }}"><i class="fas fa-list fa-fw"></i></a>
  <a href="{{ path('volume_edit', {'id': volume.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
  {% endblock %}
  {% endembed %}
  <div class="card mb-3">
    <div class="card-body">
      <table class="table">
        <tbody>
            <tr>
                <th>Volume</th>
                <td>{{ volume.volumeNumber }}</td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>{{ volume.volumeStartDate ? volume.volumeStartDate|date('n/j/Y') : '' }}</td>
            </tr>
            <tr>
                <th>End Date</th>
                <td>{{ volume.volumeEndDate ? volume.volumeEndDate|date('n/j/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nameplate</th>
                <td>{{ volume.nameplateKey }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  {{ include('admin/volume/_delete_form.html.twig') }}
</div>
{% endblock %}
