{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Volume{% endblock %}

{% block body %}
    <div class="float-right">
      <a href="{{ path('admin_volume_edit', {'id': volume.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Edit</a>
    </div>
    <h1>Volume</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ volume.id }}</td>
            </tr>
            <tr>
                <th>VolumeNumber</th>
                <td>{{ volume.volumeNumber }}</td>
            </tr>
            <tr>
                <th>VolumeStartDate</th>
                <td>{{ volume.volumeStartDate ? volume.volumeStartDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>VolumeEndDate</th>
                <td>{{ volume.volumeEndDate ? volume.volumeEndDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NameplateKey</th>
                <td>{{ volume.nameplateKey }}</td>
            </tr>
        </tbody>
    </table>

    <h4>Issues</h4>
    <ul>
      {% for issue in volume.issues %}
      <li><a href="{{ path('admin_issue_show', {'id': issue.id}) }}">{{ issue }}</a></li>
      {% endfor %}
    </ul>

    {{ include('admin/volume/_delete_form.html.twig') }}
{% endblock %}
