<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Pacer{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
        <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
          <div class="float-right mt-4">
            <a href="http://www.thepacer.net" class="btn btn-secondary">Return to <em>The Pacer Online Edition</em></a>
          </div>
          <h1><em>The Pacer</em></h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{{ path('home') }}">Home</a></li>
            <li class="list-inline-item"><a href="{{ path('archive') }}">Archives</a></li>
            <li class="list-inline-item"><a href="{{ path('missing-issues') }}">Missing Issues</a></li>
          </ul>
          <hr />
        </div>
        {% block body %}{% endblock %}
        <div class="container">
          <hr />
          <a href="{{ path('home') }}"><em>The Pacer</em></a>
        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
