<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Pacer{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">

          <header class="blog-header py-3">
          <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-left pt-1">
              <a class="text-muted" href="{{ path('donate') }}">Support <em>The Pacer</em></a>
            </div>
            <div class="col-md-4 text-center">
              <div class="py-3 py-lg-0">
                <a class="h3 blog-header-logo text-dark" href="{{ path('home') }}"><img src="{{ asset('assets/images/nameplates/nameplate-2004-0.png') }}" class="img-fluid" style="max-height:80px" /></a>
              </div>
            </div>
            <div class="col-md-4 text-center text-md-right align-items-center">
              <a class="btn btn-sm btn-outline-secondary" href="https://www.thepacer.net/" target="_blank"><em>ThePacer.net</em></a>
            </div>
          </div>
          </header>
          <!-- <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
              <a class="p-2 text-muted" href="{{ path('home') }}">Home</a></a>
              <a class="p-2 text-muted" href="{{ path('archive') }}">Archives</a></a>
              <a class="p-2 text-muted" href="{{ path('missing_issues') }}">Missing Issues</a>
              <a class="p-2 text-muted" href="{{ path('about') }}">About</a>
            </nav>
          </div> -->
        </div>
        {% block body %}{% endblock %}
        <div class="container">
          <hr />
          <a href="{{ path('about') }}">About</a>
        </div>
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
