<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}The Pacer{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:site_name" content="The Pacer">
    <meta property="og:description" content="The Pacer is the student newspaper at the University of Tennessee at Martin. First printed as The Volette in 1928, the newspaper has been the voice of the student body through through almost all of UT Martin's history.">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="object">
    <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}/assets/images/opengraph.png">

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% include '_includes/favicons.html.twig' %}
    {% include '_includes/ga_tracking.html.twig' %}
  </head>
  <body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    <div class="container">
      <header class="site-header py-3">
      <div class="row align-items-center">
        <div class="col-md-4 text-center text-md-left pt-1">
          <a class="text-muted" href="{{ path('donate') }}">Support <em>The Pacer</em></a>
        </div>
        <div class="col-md-4 text-center">
          <div class="py-3 py-lg-0">
            <a class="h3 site-header-logo text-dark" href="{{ path('home') }}"><img src="{{ asset('assets/images/nameplate.svg') }}" class="img-fluid py-2" style="max-height:80px" /></a>
          </div>
        </div>
        <div class="col-md-4 text-center text-md-right align-items-center">
          <a class="btn btn-sm btn-outline-primary" href="https://www.thepacer.net/" target="_blank"><em>ThePacer.net</em></a>
        </div>
      </div>
      </header>
    </div>
    <div id="content" tabindex="-1">
    {% block body %}{% endblock %}
    </div>
    <footer class="container my-5">
      <hr />
      <div class="row">
        <div class="col-lg-8">
          <ul class="list-inline">
            <li class="list-inline-item px-2"><a href="{{ path('home') }}">Home</a></a></li>
            <li class="list-inline-item px-2"><a href="{{ path('archive') }}">Archives</a></a></li>
            <li class="list-inline-item px-2"><a href="{{ path('missing_issues') }}">Missing Issues</a></li>
            <li class="list-inline-item px-2"><a href="{{ path('about') }}">About</a></li>
          </ul>
        </div>
        <div class="col-lg-4 text-right">
          &copy; {{ 'now'|date('Y') }} <em>The Pacer</em>
        </div>
      </div>
    </footer>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
