{{ form_start(form) }}
<div class="card mb-3">
  <div class="card-body">
    {{ form_widget(form) }}
    {{ form_rest(form) }}
  </div>
</div>
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
