{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Issues{% endblock %}

{% block body %}
    <div class="float-right">
      {{ knp_pagination_render(pagination) }}
    </div>
    <h1>Issues</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th class="text-center">Issue #</th>
                <th class="text-center">Volume #</th>
                <th class="text-center">Pages</th>
                <th class="text-center">Linked Articles</th>
                <th>Archive Key</th>
                <th>Notes</th>
                <th width="10"></th>
            </tr>
        </thead>
        <tbody>
            {% for issue in pagination %}
            <tr>
                <td><a href="{{ path('admin_issue_show', {'id': issue.id}) }}">{{ issue.id }}</a></td>
                <td>{{ issue.issueDate ? issue.issueDate|date('F j, Y') : '' }}</td>
                <td class="text-center">{{ issue.issueNumber }}</td>
                <td class="text-center">{{ issue.volume.volumeNumber }}</td>
                <td class="text-center">{{ issue.pageCount }}</td>
                <td class="text-center">{{ issue.articles.count }}</td>
                <td>{{ issue.archiveKey }}{% if issue.archiveKey %} <a href="https://archive.org/details/{{ issue.archiveKey }}" class="btn btn-link" target="_blank"><i class="fas fa-external-link-alt"></i>{% endif %}</td>
                <td>{{ issue.archiveNotes }}</td>
                <td>
                    <a href="{{ path('admin_issue_edit', {'id': issue.id}) }}" class="btn btn-link"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="99">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="float-right">
      {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('admin_issue_new') }}" class="btn btn-secondary"><i class="fas fa-plus"></i> Create Issue</a>
{% endblock %}
