{% extends 'admin/base.html.twig' %}

{% block title %}Issue index{% endblock %}

{% block body %}
    <h1>Issue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IssueDate</th>
                <th>IssueNumber</th>
                <th>PageCount</th>
                <th>ArchiveKey</th>
                <th>ArchiveNotes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.issueDate ? issue.issueDate|date('Y-m-d') : '' }}</td>
                <td>{{ issue.issueNumber }}</td>
                <td>{{ issue.pageCount }}</td>
                <td>{{ issue.archiveKey }}</td>
                <td>{{ issue.archiveNotes }}</td>
                <td>
                    <a href="{{ path('admin_issue_show', {'id': issue.id}) }}">show</a>
                    <a href="{{ path('admin_issue_edit', {'id': issue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_issue_new') }}">Create new</a>
{% endblock %}
