{% extends 'base_admin.html.twig' %}

{% block title %}Issues - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
  {% embed 'admin/_page_header.html.twig' %}
  {% block page_header_title %}Issues{% endblock %}
  {% block page_header_buttons %}
  <a href="{{ path('issue_new') }}"><i class="fas fa-plus fa-fw"></i></a>
  {% endblock %}
  {% endembed %}

  <div class="card mb-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="issueTable">
          <thead>
            <tr>
                <th>Date</th>
                <th>Number</th>
                <th>Pages</th>
                <th>Archive Key</th>
                <th>Notes</th>
                <th>UT Martin Digital Archive</th>
                <th data-sortable="false" class="col-actions"></th>
            </tr>
          </thead>
          <tbody>
            {% for issue in issues %}
            <tr>
                <td data-sort="{{ issue.issueDate ? issue.issueDate|date('Y-m-d') : '' }}">{{ issue.issueDate ? issue.issueDate|date('n/j/Y') : '' }}</td>
                <td>{{ issue.issueNumber }}</td>
                <td>{{ issue.pageCount }}</td>
                <td>{{ issue.archiveKey }}</td>
                <td>{{ issue.archiveNotes }}</td>
                <td>{{ issue.utmDigitalArchiveUrl }}</td>
                <td>
                    <a href="{{ path('issue_show', {'id': issue.id}) }}"><i class="fas fa-eye fa-fw"></i></a>
                    <a href="{{ path('issue_edit', {'id': issue.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block pagejs %}
{{ parent() }}
<script>
$('#issueTable').DataTable()
</script>
{% endblock %}
