{% extends base_template %}

{% block title %}
    {{ "title_show"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{% block show %}
<div class="panel panel-default">
  <div class="panel-heading">Issue</div>
  <div class="panel-body">
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ object.issueDate ? object.issueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ object.issueNumber }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td><a href="{{ path('admin_app_volume_edit', {'id': object.volume.id}) }}">{{ object.volume }}</a></td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ object.pageCount }}</td>
            </tr>
            <tr>
                <th>Archive Key</th>
                <td>{{ object.archiveKey }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ object.archiveNotes }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

{% if object.articles.count %}
<div class="panel panel-default">
  <div class="panel-heading">Articles</div>
  <div class="panel-body">
    <ul>
      {% for article in object.articles %}
      <li><a href="{{ path('admin_app_article_edit', { id: article.id } )}}">{{ article.headline }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
