{% extends 'base_admin.html.twig' %}

{% block title %}{{ issue }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
  {% embed 'admin/_page_header.html.twig' %}
  {% block page_header_title %}{{ issue }}{% endblock %}
  {% block page_header_buttons %}
  <a href="{{ path('issue_index') }}"><i class="fas fa-list fa-fw"></i></a>
  <a href="{{ path('issue_edit', {'id': issue.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
  {% endblock %}
  {% endembed %}
  <div class="card mb-3">
    <div class="card-body">
      <p><a href="{{ path('issue', {issueDate: issue.issueDate|date('Y-m-d')}) }}" class="btn btn-primary"><i class="fas fa-newspaper fa-fw"></i> Open {{ issue }}</a></p>
      <table class="table">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ issue.issueDate ? issue.issueDate|date('n/j/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ issue.issueNumber }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ issue.pageCount }}</td>
            </tr>
            <tr>
                <th>Archive Key</th>
                <td><tt>{{ issue.archiveKey }}</tt></td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ issue.archiveNotes }}</td>
            </tr>
            <tr>
                <th>UT Martin Digital Archive</th>
                {% if issue.utmDigitalArchiveUrl %}
                <td><a href="{{ issue.utmDigitalArchiveUrl }}">{{ issue.utmDigitalArchiveUrl }}</a></td>
                {% else %}
                <td><em>Not set.</em></td>
                {% endif %}
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  {{ include('admin/issue/_delete_form.html.twig') }}
</div>
{% endblock %}
