{% extends 'admin/base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block body %}
    <h1>Issue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ issue.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ issue.issueDate ? issue.issueDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ issue.issueNumber }}</td>
            </tr>
            <tr>
                <th>Volume</th>
                <td><a href="{{ path('admin_volume_show', {'id': issue.volume.id}) }}">{{ issue.volume }}</a></td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ issue.pageCount }}</td>
            </tr>
            <tr>
                <th>Archive Key</th>
                <td>{{ issue.archiveKey }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ issue.archiveNotes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_issue_edit', {'id': issue.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> Edit</a>

    {{ include('admin/issue/_delete_form.html.twig') }}
{% endblock %}
