{% extends 'base_admin.html.twig' %}

{% block title %}Edit {{ article }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit {{ article }}</h1>

    {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('article_index') }}"><i class="fas fa-list fa-fw"></i></a>

    {{ include('admin/article/_delete_form.html.twig') }}
</div>
{% endblock %}
