{% extends 'base_admin.html.twig' %}

{% block title %}Articles - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Headline</th>
                <th>Section</th>
                <th>Author</th>
                <th>Published</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.headline }}</td>
                <td>{{ article.printSection }}</td>
                <td>{{ article.authorByline }}</td>
                <td>{{ article.datePublished ? article.datePublished|date('n/j/Y') : '' }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}"><i class="fas fa-eye fa-fw"></i></a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-edit fa-fw"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}"><i class="fas fa-plus fa-fw"></i></a>
</div>
{% endblock %}
