{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Articles{% endblock %}

{% block body %}
    <div class="float-right">
      {{ knp_pagination_render(pagination) }}
    </div>
    <h1>Articles</h1>
    {% for label, flashes in app.flashes %}
        {% for flash in flashes %}
            {% if ( label == 'success' ) %}
                <div class="alert alert-success alert-dismissible fade show">
                    {{ flash }}
                </div>
            {% elseif ( label == 'error' ) %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ flash }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Section</th>
                <th>Headline</th>
                <th>Issue</th>
                <th>Published</th>
                <th>Modified</th>
                <th width="10"></th>
            </tr>
        </thead>
        <tbody>
            {% for article in pagination %}
            <tr>
                <td><a href="{{ path('admin_article_show', {'id': article.id}) }}">{{ article.id }}</a></td>
                <td>{{ article.printSection }}</td>
                <td>
                  {{ article.headline }}<br />
                  <cite class="small">{{ article.authorByline }}</cite>
                </td>
                {% if article.issue %}
                <td><a href="{{ path('admin_issue_show', {id: article.issue.id} ) }}">{{ article.issue }}</a></td>
                {% else %}
                <td class="text-muted">No paired issue.</th>
                {% endif %}
                <td>{{ article.datePublished ? article.datePublished|date('n/j/Y') : '' }}</td>
                <td>{{ article.dateModified ? article.dateModified|date('n/j/Y') : '' }}</td>
                <td>
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-link"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="99">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="float-right">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('admin_article_new') }}" class="btn btn-secondary"><i class="fas fa-plus"></i> Create Article</a>
{% endblock %}
