{% extends 'base_admin.html.twig' %}

{% block title %}{{ article }} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ article }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Column</th>
                <td>{{ article.printColumn }}</td>
            </tr>
            <tr>
                <th>Page</th>
                <td>{{ article.printPage }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ article.printSection }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ article.articleBody|markdown }}</td>
            </tr>
            <tr>
                <th>Headline</th>
                <td>{{ article.headline }}</td>
            </tr>
            <tr>
                <th>Alternative/Secondary Headline</th>
                <td>{{ article.alternativeHeadline }}</td>
            </tr>
            <tr>
                <th>Author Byline</th>
                <td>{{ article.authorByline }}</td>
            </tr>
            <tr>
                <th>Contributor Byline</th>
                <td>{{ article.contributorByline }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ article.dateCreated ? article.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ article.datePublished ? article.datePublished|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{{ article.dateModified ? article.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ article.keywords }}</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>{{ article.modifiedBy }}</td>
            </tr>
            <tr>
                <th>Legacy ID</th>
                <td>{{ article.legacyId }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td><tt>{{ article.slug }}</tt></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}"><i class="fas fa-list fa-fw"></i></a>

    <a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-edit fa-fw"></i></a>

    {{ include('admin/article/_delete_form.html.twig') }}
</div>
{% endblock %}
