{% extends 'admin/base.html.twig' %}

{% block title %}Admin - Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>PrintColumn</th>
                <td>{{ article.printColumn }}</td>
            </tr>
            <tr>
                <th>PrintPage</th>
                <td>{{ article.printPage }}</td>
            </tr>
            <tr>
                <th>PrintSection</th>
                <td>{{ article.printSection }}</td>
            </tr>
            <tr>
                <th>ArticleBody</th>
                <td>{{ article.articleBody | markdown }}</td>
            </tr>
            <tr>
                <th>Headline</th>
                <td>{{ article.headline }}</td>
            </tr>
            <tr>
                <th>AlternativeHeadline</th>
                <td>{{ article.alternativeHeadline }}</td>
            </tr>
            <tr>
                <th>Author_byline</th>
                <td>{{ article.authorByline }}</td>
            </tr>
            <tr>
                <th>Contributor_byline</th>
                <td>{{ article.contributorByline }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ article.dateCreated ? article.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DatePublished</th>
                <td>{{ article.datePublished ? article.datePublished|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateModified</th>
                <td>{{ article.dateModified ? article.dateModified|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ article.keywords }}</td>
            </tr>
            <tr>
                <th>ModifiedBy</th>
                <td>{{ article.modifiedBy }}</td>
            </tr>
            <tr>
                <th>LegacyId</th>
                <td>{{ article.legacyId }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('admin/article/_delete_form.html.twig') }}
{% endblock %}
