{% extends 'base.html.twig' %}

{% block title %}The Pacer{% endblock %}

{% block body %}
<div class="container pt-0">

<div class="jumbotron p-3 p-md-5 rounded">
  <div class="col-md-6">
    <div class="rounded p-3" style="background: rgba(255,255,255,0.9);">
      <h1 class="display-4 font-italic">Setting the Pace</h1>
      <p class="lead"><em>The Pacer</em> is the student newspaper at the University of Tennessee at Martin. First printed as <em>The Volette</em> in 1928, the newspaper has been the voice of the student body through through almost all of UT Martin's history.</p>
      <p class="lead">Through its time as the University of Tennessee Junior College, its ascendance to a four-year degree granting instutution as the University of Tennessee Martin Branch and through today, <em>The Pacer</em> is our eyes to the history of the campus we call home.</p>
      <p class="lead mb-0"><a href="{{ path('about') }}" class="text-dark font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
</div>

<main role="main" class="container">
<div class="row">
<div class="col-md-8 blog-main">

  <div class="card bg-info text-light mb-3">
    <div class="card-body">
      <div class="float-right">
        <a href="{{ path('archive') }}"><img src="{{ asset('assets/images/noun-project/newspaper.svg') }}" alt="Newspaper Icon" class="m-2 w-100"/></a>
      </div>
      <h3><a href="{{ path('archive') }}" class="text-light">The Archives</a></h3>
      <p>We have collected {{ issue_count | number_format }} issues of <em>The Volette</em> and <em>The Pacer</em> and are continuing to grow the archives.</p>
      <div>
        <a href="{{ path('archive') }}" class="btn btn-secondary btn-sm">Browse the Archives</a>
      </div>
    </div>
  </div>

  <div class="card bg-info text-light mb-3">
    <div class="card-body">
      <div class="float-right">
        <a href="{{ path('missing_issues') }}"><img src="{{ asset('assets/images/noun-project/browse.svg') }}" alt="Browse Icon" class="m-2 w-100"/></a>
      </div>
      <h3><a href="{{ path('missing_issues') }}" class="text-light">Missing Issues</a></h3>
      <p>Help us locate print copies of these issues so we can make them available online.</p>
      <div>
        <a href="{{ path('missing_issues') }}" class="btn btn-secondary btn-sm">See Missing Issues</a>
      </div>
    </div>
  </div>

  <div class="card bg-info text-light mb-3">
    <div class="card-body">
      <div class="float-right">
        <a href="{{ path('donate') }}"><img src="{{ asset('assets/images/noun-project/harmonious.svg') }}" alt="Harmonious Icon" class="m-2 w-100"/></a>
      </div>
      <h3><a href="{{ path('donate') }}" class="text-light">Support <em>The Pacer</em></a></h3>
      <p>Your support funds scholarships, equipment and educational opportunities.</p>
      <div>
        <a href="{{ path('donate') }}" class="btn btn-secondary btn-sm">Donate Today</a>
      </div>
    </div>
  </div>
</div><!-- /.blog-main -->

<aside class="col-md-4 blog-sidebar">
  <div class="card mb-3">
    <div class="card-header">
      <h5 class="mb-0"><a href="http://www.thepacer.net/" class="text-dark">Latest from <br /><em>The Pacer Online Edition</em></a></h3>
    </div>
    <div class="card-body">
      <ul class="list-unstyled">
        {% for item in feed %}
          <li class="mb-2">
            <a href="{{ item.link }}" target="_blank">{{ item.title.rendered | raw }}</a><br />
            <span class="text-muted small">{{ item._embedded.author | first.name }} / {{ item.date | date('F j, Y') }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</aside>

</div>

</main>

{% endblock %}
