{% extends 'base.html.twig' %}

{% block title %}Missing Issues - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-3">
  <h2>Missing Issues</h2>

  <div class="my-4">
    <p class="lead">The following issues (or range of dates that may have issues) are missing from the microfilm source. This page will be updated with other desired issues as we review the collection for completeness.</p>
    <p class="lead text-center">If you would like to provide issues that you may have, please reach us at <a href="mailto:archives@thepacer.org">archives@thepacer.org</a>.</p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card border-light">
        <div class="card-header bg-dark">
          <h3 class="text-light m-0"><em>The Volette</em></h3>
        </div>
        <div class="card-body">
          <h4><a href="{{ path('volume', { volumeNumber: 1 } ) }}">Volume 1 (1928-1929)</a></h4>
          <ul>
            <li><strong>December 17, 1928 (Issue 1)</strong> - The first issue of the newspaper is not available in the microfilm collection.</li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 6 } ) }}">Volume 6 (1933-1934)</a></h4>
          <p>There is only one "issue" available for this academic year, and it appears to be a pre-production collection of stories intended for that issue. As it was the height of the Great Depression during this time, there is a chance that few newspapers were produced because of low budgets.</p>

          <ul>
            <li><strong>All issues</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 9 } ) }}">Volume 9 (1936-1937)</a></h4>
          <p>These particular issues may not be missing, as the newspaper was produced every other week and the dates for issue 5 (11/30/1936) and issue 10 (12/14/1936) would be chronological. It could have been an error when Issue 10 was produced, it reused an old nameplate with the wrong issue number.</p>
          <ul>
            <li><strong>Issue 6?</strong></li>
            <li><strong>Issue 7?</strong></li>
            <li><strong>Issue 8?</strong></li>
            <li><strong>Issue 9?</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 13 } ) }}">Volume 13 (1940-1941)</a></h4>
          <p>There is a two-issue gap between Issue 12 (4/18/1941) and Issue 15 (5/2/1941).
          <ul>
            <li><strong>Issue 13?</strong></li>
            <li><strong>Issue 14?</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 16 } ) }}">Volume 16 (1943-1944)</a></h4>
          <p>There are four issues in this volume, starting with Issue 2 (11/26/1943) followed by two lacking discernable issue numbers and then Issue 4 (5/29/1944). It is possible that these are all that were produced.</p>
          <ul>
            <li><strong>Issue 1?</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 17 } ) }}">Volume 17 (1944-1945)</a></h4>
          <p>The final two issues of this volume do not have discernable numbers and were preceded by Issue 4 (2/26/1945). If there was a March issue, it is not available on microfilm.
          <ul>
            <li><strong>Issue 5?</strong> - March 1945 issue when newspaper produced about once a month.</li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 24 } ) }}">Volume 24 (1951-1952)</a></h4>
          <p>There is one issue missing from the bi-weekly sequence of 11 issues. It was most likely produced in November.</p>
          <ul>
            <li><strong>Issue 3</strong> - Published 11/13/1951, 11/20/1951 or 11/27/1951</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card border-light">
        <div class="card-header bg-dark">
          <h3 class="text-light m-0"><em>The Pacer</em></h3>
        </div>
        <div class="card-body">
          <h4><a href="{{ path('volume', { volumeNumber: 45 } ) }}">Volume 45 (1972-1973)</a></h4>
          <ul>
            <li><strong>April 11, 1973 (Issue 21)</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 51 } ) }}">Volume 51 (1978-1979)</a></h4>

          <ul>
            <li><strong>Issue 10</strong> - Published 12/7/1978, 12/14/1978 or 12/21/1978</li>
            <li><strong>January 25, 1979 (Issue 12)</strong></li>
            <li><strong>February 8, 1979 (Issue 14)</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 52 } ) }}">Volume 52 (1979-1980)</a></h4>
          <ul>
            <li><strong>October 18, 1979 (Issue 4)</strong></li>
            <li><strong>February 14, 1979 (Issue 15)</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 54 } ) }}">Volume 54 (1981-1982)</a></h4>
          <ul>
            <li><strong>October 15, 1981 (Issue 3)</strong></li>
            <li><strong>All issues after November 19, 1981</strong> - There are no other issues available on microfilm for this volume.</li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 55 } ) }}">Volume 55 (1982-1983)</a></h4>
          <ul>
            <li><strong>February 3, 1983 (Issue 13)</strong></li>
            <li><strong>February 10, 1983 (Issue 14)</strong></li>
            <li><strong>April 28, 1983 (Issue 21)</strong></li>
          </ul>

          <h4><a href="{{ path('volume', { volumeNumber: 57 } ) }}">Volume 57 (1984-1985)</a></h4>
          <ul>
            <li><strong>Issue 15</strong> - Published 3/7/1985, 3/14/1985 or 3/21/1985</li>
            <li><strong>Issue 16</strong> - Published 3/14/1985, 3/21/1985 or 3/28/1985</li>
          </ul>

          <div class="card mt-5">
            <div class="card-body">
              <p class="m-0 lead">This list covers only what is known to be missing from the scanned microfilm. This list may grow as additional issues are processed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
